$white: #fff;
$gray: #6B6C77;
$graydark: #2A2B2C;
$red: #E04141;
$green: #57E041;
$blue: #418FE0;
$discord: #7289DA;
$github: #000000;
$candy: #ef647c;

$colors: (
	"white": $white, 
	"gray": $gray, 
	"red": $red, 
	"green": $green, 
	"blue": $blue,
	"twitter": $blue,
	"discord": $discord,
	"github": $github,
	"graydark": $graydark,
	"candy": $candy
);
